<!--
=========================================================
* Material Dashboard 2 - v=3.0.2
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
<%- include("./blocks/head-admin.ejs")%>
<body class="g-sidenav-show  bg-gray-200">
<%- include("./blocks/aside.ejs")%>



<!-- main -->

<%- include("./pages/"+ page +".ejs")%>



</body>

</html>