<header class="header">

    <div class="header-1">

        <a href="user/home" class="logo"> <i class="fas fa-book"></i> PBL5 </a>

        <form action="" class="search-form">
            <input type="search" name="" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>
        <div class="icons">
            <a href="user/heart" class="fas fa-heart"></a>
            <a href="user/cart" class="fas fa-shopping-cart"></a>
            <a><% if(typeof message!= "undefined") {%><%- message%><%} %></a>
            <a href="/signout" class="fa fa-sign-out"></a>
        </div>


    </div>

    <div class="header-2">
        <nav class="navbar">
            <a href="user/home">home</a>
            <a href="user/featured">featured</a>
            <a href="user/arrivals">arrivals</a>
            <a href="user/reviews">reviews</a>
            <a href="user/blogs">blogs</a>
        </nav>
    </div>

</header>