<header class="header">

    <div class="header-1">

        <a href="/" class="logo"> <i class="fas fa-book"></i> PBL5 </a>

        <form class="search-form" method="post">
            <input type="search" name="txtSearch" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div id="search-btn"  class="fas fa-search"></div>
            <a href="page/heart" class="fas fa-heart"></a>
            <a href="page/cart" class="fas fa-shopping-cart"></a>
            <a href="/login" class="fas fa-user"></a>
        </div>

    </div>

    <div class="header-2">
        <nav class="navbar">
            <a href="page/home">home</a>
            <a href="page/featured">featured</a>
            <a href="page/arrivals">arrivals</a>
            <a href="page/blogs">blogs</a>
        </nav>
    </div>

</header>
