<section class="blogs" id="blogs">

    <h1 class="heading"> <span>our blogs</span> </h1>

    <div class="swiper blogs-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <div class="image">
                    <img src="https://scontent.fdad1-2.fna.fbcdn.net/v/t39.30808-6/277250814_1473840456365783_6365046490057525189_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=6t8fQQASwfEAX81ByR_&tn=03rEyX1GFT-p0okF&_nc_ht=scontent.fdad1-2.fna&oh=00_AT8xAop6ReX5QJEJxMyK4sg1LyT2pnkk47TJFVeAB74Gcg&oe=62BDD98F" alt="">
                </div>
                <div class="content">
                    <h3>Backend Dev</h3>
                    <p>Nguyễn Hồng Phúc - 102190330</p>
                    <a href="https://www.facebook.com/posept/" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="https://scontent.fdad1-2.fna.fbcdn.net/v/t1.6435-9/189384381_3052739425046273_2506845595649704395_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=174925&_nc_ohc=OwbFnzOWut0AX-RLg4b&tn=03rEyX1GFT-p0okF&_nc_ht=scontent.fdad1-2.fna&oh=00_AT8bpeNCwdNgarPJzVtgQZA45qkK3scRbnuR38yeGZMBkg&oe=62DF7382" alt="">
                </div>
                <div class="content">
                    <h3>Fontend Dev</h3>
                    <p>Huỳnh Bá Lê Huy - 102190360</p>
                    <a href="https://www.facebook.com/huyxoan43" class="btn">read more</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="image">
                    <img src="https://scontent.fdad1-2.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?_nc_cat=1&ccb=1-7&_nc_sid=7206a8&_nc_ohc=HByBphKaqIsAX-kju1q&tn=03rEyX1GFT-p0okF&_nc_ht=scontent.fdad1-2.fna&oh=00_AT9mlHDeUtR6Mz_xBnB0sw4KhdSaDCnPluWN8_Ji6G43TQ&oe=62DE3E78" alt="">
                </div>
                <div class="content">
                    <h3>Fontend Dev</h3>
                    <p>Phan Quang Linh</p>
                    <a href="https://www.facebook.com/linh2001ht" class="btn">read more</a>
                </div>
            </div>

        </div>

    </div>

</section>