<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg "
      xmlns="http://www.w3.org/1999/html">
    <div class="container-fluid py-4">
        <div class="row min-vh-80">
            <div class="col-12">
                <div class="card mt-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h1 class="text-white text-capitalize ps-3">Books</h1>
                        </div>
                    </div>
                    <div class="card-body px-5">
                        <form class="form_dang_nhap" method="post" enctype="multipart/form-data">
                            <div class="o_nhap">
                                <p><b>Category</b></p>
                                <select name="selectCate">
                                    <% list.forEach(function(cats){%>
                                        <option value="<%- cats._id %>"><%- cats.title %></option>
                                    <%})%>
                                </select>
                                </br></br>
                            </div>

                            <div class="o_nhap">
                                <input type="text" name="txtTitle" required="">
                                <label>Title</label>
                            </div>
                            <div class="o_nhap">
                                <p><b>Image</b></p>
                                <input type="file" name="fileImage" required="">
                            </div>
                            <div class="o_nhap">
                                <p><b>Description</b></p>
                                <textarea name="txtPdfurl"></textarea>

                            </div>
                            <div class="o_nhap">
                                <input type="number" name="txtOrder" required="">
                                <label>Order</label>
                            </div>
                            <% if(typeof message!= "undefined") {%><h5><%- message%></h5><%} %>
                            <input type="submit" name="" value="Add new category">
                        </form>


                    </div>
                </div>
            </div>
        </div>

    </div>
</main>