<section class="cart">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="2">Sach</th>
                        <th>So luong</th>
                        <th>Thanh tien</th>
                        <th>Xoa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% list.forEach(function(image) { %>
                    <tr>
                        <td class="align-middle"><img src="data:image/<%=image.img.contentType%>;base64,
                                                    <%=image.img.data.toString('base64')%>"></td>
                        <td class="align-middle"><%= image.title %></td>
                        <td class="align-middle"><input style="width: 100px" name="soluong" type="number" value="1"
                                                        min="1">
                        </td>
                        <td class="align-middle">$<%= image.cost %></td>
                        <td class="align-middle"><button class="btn"><i class="fa fs-trash-fill"></i></button></td>
                    </tr>
                    <% }) %>
                    </tbody>

                </table>
            </div>
            <div class="col-4">
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="2" style="text-align: center;">GIO HANG (2 san pham)</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>Tong tien</td>
                        
                        <td></td>
                    </tr>
                    <tr>
                        <td>Phi van chuyen</td>
                        <td>Mien phi</td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td><b>TAM TINH</b></td>
                        <td><span class="text-success">191.500 ₫</span></td>
                    </tr>
                    </tfoot>

                </table>
                <div class="row">
                    <button class="col btn btn-secondary">QUAY LAI</button>
                    <button class="col btn btn-primary">THANH TOAN</button>
                </div>
            </div>
        </div>
    </div>
</section>