<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg "
      xmlns="http://www.w3.org/1999/html">
<div class="container-fluid py-4">
    <div class="row min-vh-80">
        <div class="col-12">
            <div class="card mt-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h1 class="text-white text-capitalize ps-3">Category</h1>
                    </div>
                </div>
                <div class="card-body px-5">

                    <form class="form_dang_nhap" method="post">
                        <div class="o_nhap">
                            <input type="text" name="txtTitle" required="">
                            <label>Title</label>
                        </div>
                        <div class="o_nhap">
                            <input type="number" name="txtOrder" required="">
                            <label>Order</label>
                        </div>
                        <input type="submit" name="" value="Add new category">
                    </form>

                    <% if(typeof message!= "undefined") {%><h2><%- message%></h2><%} %>

                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Active</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Books</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <% list.forEach(function (cat){ %>
                                <tr>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">#<%- cat._id%></p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0"><%- cat.title%></p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success"><% if(cat.active==1){
                                            %>Show<%}else{%>Hide<%
                                            } %></span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold"></span>
                                    </td>
                                    <td class="align-middle">
                                        <a href="#" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete">
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                                <%});%>
                                </tbody>

                            </table>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

</div>
</main>